body{
    background-color: #eeeeee;
}
.navbar {
    background-color: #4da0ff;
}

.navbar-brand{
    display:inline-block;
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    line-height:inherit;
    white-space:nowrap;
    color:#fff
}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration:none
}

.navbar-brand{
    color:rgba(0,0,0,.9)
}

.navbar-brand:focus, .navbar-brand:hover{
    color:rgba(0,0,0,.9);
    color:#fff
}
.mr-1{
    margin-right:.25rem!important;
    margin-right:.25rem!important
}

